
<% if signed_in? %>
    ようこそ <%= "#{@name}" %> !
    <br />
    <%= form_tag('/tweet') do %>
        <%= text_area_tag 'tweet' %>
        <%= submit_tag "つぶやく" %>
    <% end %>
    <br />
    <%= button_to "TL読み込み", :action => "getTimeline" %>
    <% if @timeline.present? %>
        <% @timeline.each do |twi| %>
            <p><%= twi.user.screen_name %></p>
        <% end %>
    <% end %>
    <%= link_to "サインアウトする", "/signout" %>
<% else %>
    <%= link_to "Twitterでログインする", "/auth/twitter" %>
<% end %>
